<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpy.administrator.probityeducation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ZhunZeListActivity" />
        <activity android:name=".activity.StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.YuLuActivity" />
        <activity android:name=".activity.ZhunZeContentActivity" />
        <activity android:name=".activity.YuLuListActivity" />
        <activity android:name=".activity.StoryListActivity" />
        <activity android:name=".activity.YuLuDetailsActivity" />
        <activity android:name=".activity.StoryDetailsActivity" />
        <activity android:name=".activity.PersonalIntroduceActivity"></activity>
    </application>

</manifest>